// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead tr th {
    text-align: center;
}

tbody tr td {
    vertical-align: middle !important;
    text-align: center;
}

tbody tr td img {
    max-height: 100px;
    width: auto;
}

thead {
  background: #3764ad;
  color: white;
}
