// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url("../uploads/img/medical-bg.jpg") no-repeat center center fixed;
}

.navbar {
  background: #3f69b5;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #7194d4;
    color: #fff;
}

thead tr th {
    text-align: center;
}

tbody tr td {
    vertical-align: middle !important;
    text-align: center;
}

tbody tr td img {
    max-height: 100px;
    width: auto;
}

thead {
  background: #3764ad;
  color: white;
}
